* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gps-entry-layout{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.gps-tab-background {
  background: #FDFEFE;
}