.table_head {
    text-align: left;
}

.table_column {
    text-align: left;
}

.table_head,
.table_column {
    padding: 2px;
}

.gps_print_table {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    table-layout: fixed;
}

.gps_print_table,
.table_head,
.table_column {
    border: 1px solid #000000;
    border-collapse: collapse;
    font-size: 14pt;
    padding: 0.2rem;
}

// p {
//     font-weight: bold;
//     font-size: 11pt;
//     text-align: justify;
// }