  .gps-table{
    // background-color: #F0F3F4 !important;
    background: linear-gradient(90deg, #F9EBEA, #D7DBDD) !important;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #CCD1D1;

    .gps-tracking {
      position: relative;
      text-align: right;
      color: black;
      top: -100px;
    }

    .gps_tracking_input {
      position: relative;
      top: -80px;
      width: 94%;
      margin-left: 10px;
    }

    .gps_address {
      position: relative;
      text-align: right;
      color: black;
      top: -65px;
    }

    .gps_address_input {
      position: relative;
      top: -60px;
      width: 94%;
      margin-left: 10px;
    }

    .special_request {
      position: relative;
      text-align: right;
      color: black;
      top: -100px;
    }

    td {
      padding: 5px;
      border-bottom-width: 2px;
      vertical-align: bottom;
      border-bottom: 0.8px solid #CCD1D1;
      border-right: 0.8px solid #CCD1D1;
    }

    td{
      width: 20%;
    }
    td:last-child {
      width: 40%;
    }
  }

  .MuiInputBase-input {
    background: #F5FEFE !important;
  }