*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.esignature-table {
    background: linear-gradient(90deg, #F9EBEA, #D7DBDD) !important;
}
.heading {
    font-size: 25px;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 5px;
}

.MuiInputBase-input {
    height: 10px !important;
}